body.dark-theme {
  background-color: #121212;
  color: #000000;
}

body.dark-theme button {
  background-color: #333;
  color: white;
}

body.dark-theme .sidebar {
  background-color: #2c2c2c;
  border-color: #ffffff;
}

body.dark-theme .sidebar button {
  background: #444;
  color: #ffffff;
}

body.dark-theme p {

  color: #ffffff;
}

body.dark-theme .sidebar button:hover {
  background: #555;
}

body.dark-theme .content {
  background-color: #1e1e1e;
  color: #f1f1f1;
}

body.dark-theme .top-header {
  background-color: #2a2a2a;
  color: #fff;
  border-color: #444;
}

body.dark-theme .footer {
  background-color: #2a2a2a;
  color: #f1f1f1;
  border-color: #444;
}