<header class="top-header">
  <div class="left-side">
    <p>Welcome, {{ isLoggedIn ? userName : "guest" }}</p>
  </div>

  <div class="right-side">
    <button class="theme-toggle" (click)="toggleTheme()">
      @if (!isDarkMode) {
      <span>☀️</span>
      }@else if (isDarkMode) {
      <span>🌙</span>
      }
    </button>
    <button (click)="toggleLoginForm()" style="margin-left: -10px">
      Login
    </button>
  </div>
</header>

@if (showLoginForm) {
<div class="login-overlay">
  <div class="login-wrapper">
    <app-login (loginEvent)="onLoginData($event)"></app-login>
  </div>
</div>
}
